<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Human Resource Management</title>
    <link rel="stylesheet" href="static/main.css">
</head>
<body style="background-image: url(picture/back.png);">

<div class="container">
    <header class="header">
        <a href="main.html" class="header_logo">
            <img src="man.svg" alt="logo">
            <span class="header_logo-text">
                Human Resource Management
            </span>
        </a>
        <div class="header_right">
            <div class="header_right_icon">
                <a href="login_form.html" class="header_right_icon-link">Log out</a>
            </div>
            <div class="header_right_icon">
                <a href="#" class="header_right_icon-link">Help</a>
            </div>
        </div>
    </header>
</div>

<div class="container">
    <div class="main_content">
        <div class="accord">
            <div class="accord-item">
                <input class="accord-input" type="checkbox" id="accord_1" disabled>
                <label class="accord-title" for="accord_1"><a href="main.html">Dashboard</a></label>
            </div>
            <div class="accord-item">
                <input class="accord-input" type="checkbox" id="accord_2">
                <label class="accord-title" for="accord_2">Department</label>
                <div class="accord-text">
                    <ul class="ul-accord-text">
                        <li class="ul-accord-text-li">
                            <a class="ul-accord-text-li-link" href="add_department.html">Add Department</a>
                        </li>
                        <li class="ul-accord-text-li">
                            <a class="ul-accord-text-li-link" href="manage_department.html">Manage Departments</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="accord-item">
                <input class="accord-input" type="checkbox" id="accord_3">
                <label class="accord-title" for="accord_3">Employees</label>
                <div class="accord-text">
                    <ul class="ul-accord-text">
                        <li class="ul-accord-text-li">
                            <a class="ul-accord-text-li-link" href="add_employee.html">Add Employee</a>
                        </li>
                        <li class="ul-accord-text-li">
                            <a class="ul-accord-text-li-link" href="employees_list.html">Manage Employee</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <main class="content">
            <div class="container_sub">
                <div class="advantages">
                    <div class="advantages_cards">
                        <div class="advantages_card">
                            <div class="advantages_card_top">All Employees</div>
                            <div class="advantages_card_bottom">1</div>
                        </div>
                        <div class="advantages_card">
                            <div class="advantages_card_top">Departments</div>
                            <div class="advantages_card_bottom">2</div>
                        </div>
                        <div class="advantages_card">
                            <div class="advantages_card_top">Online Employees</div>
                            <div class="advantages_card_bottom">3</div>
                        </div>
                    </div>
                </div>
                <div class="calendar">
                    <input type="date" name="calendar" max="2012-06-04" min="2012-05-29">
                </div>
            </div>
        </main>
    </div>
</div>
</body>
</html>
