{% extends 'department_app/base.html'%}
{% load static %}
{% block lin %}
<link rel="stylesheet" type="text/css" href="{% static 'calendare-css.css' %}">
<script src="https://bootstraptema.ru/plugins/jquery/jquery-2.1.4.min.js"></script>
<script src="https://bootstraptema.ru/snippets/calendar/clndr/calendar.js"></script>
<script src="https://bootstraptema.ru/snippets/calendar/clndr/moment.js"></script>
{% endblock %}
{% block content %}
<main class="content">
    <div class="container_sub">
        <div class="advantages">
            <div class="advantages_cards">
                <div class="advantages_card">
                    <div class="advantages_card_top">All Employees</div>
                    <div class="advantages_card_bottom">1</div>
                </div>
                <div class="advantages_card">
                    <div class="advantages_card_top">Departments</div>
                    <div class="advantages_card_bottom">2</div>
                </div>
                <div class="advantages_card">
                    <div class="advantages_card_top">Online Employees</div>
                    <div class="advantages_card_bottom">3</div>
                </div>
            </div>
        </div>
        <div class="calendar-fill">
            <br><br><br>

            <div class="container">
            <div class="row">
            
            <div class="col-md-6 col-md-offset-3">
            
            <div class="calendar"></div>
             
            </div>
            
            </div><!-- ./row -->
            </div><!-- ./container -->
        </div>
    </div>
</main>
{% endblock %}