{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="{% static 'main.css' %}">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<ul class="body_slides">
    <li></li>
    <li></li>
    <li></li>
</ul>
<div class="reset_password_content">
    <div class="reset_password_content_sub">
        <div class="reset_password_content_sub-img">
            <img src="{% static 'picture/lock.ico' %}">
        </div>
        <div class="reset_password_content-spans">
            <span class="reset_password_content-span">FORGOT YOUR PASSWORD?</span>
            <span class="reset_password_content-span_second">YOU CAN RESET YOUR PASSWORD HERE</span>
        </div>

        <div class="reset_password_content-inputWithIcon">
            <input type="email" placeholder="Email">
            <i class="fa fa-envelope fa-lg fa-fw" aria-hidden="true"></i>
        </div>
        <button name="write" class="reset_password_content-btn" href="{% static 'conf_pass' %}">RESET PASSWORD</button>
    </div>

</div>
</body>
</html>