<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
</head>
<body>
<ul class="body_slides">
    <li></li>
    <li></li>
    <li></li>
</ul>
<div class="reset_password_content">
    <div class="reset_password_content_sub">
        <div class="reset_password_content_sub-img">
            <img src="picture/lock-open.ico">
        </div>
        <div class="reset_password_content-spans">
            <span class="reset_password_content-span-change">CHANGE PASSWORD</span>
        </div>

        <div class="reset_password_content-input">
            <label for="password">* NEW PASSWORD:</label>
            <input type="text" id="password" class="reset_password_content-input-field">
        </div>
        <div class="reset_password_content-input">
            <label for="confirm_password">* CONFIRM PASSWORD:</label>
            <input type="text" id="confirm_password" class="reset_password_content-input-field">
        </div>
        <button name="write" class="reset_password_content-btn">CONFIRM</button>
    </div>

</div>
</body>
<script>
    document.getElementsByName("write")[0].onclick = function(){window.location.href='main.html'}
</script>
</html>