*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0 auto;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.body_slides {
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: -2;
    background: #000;
}

.body_slides,
.body_slides:after {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.body_slides li {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0;
    -webkit-animation: anim_slides 18s linear infinite 0s;
    -moz-animation: anim_slides 18s linear infinite 0s;
    -o-animation: anim_slides 18s linear infinite 0s;
    -ms-animation: anim_slides 18s linear infinite 0s;
    animation: anim_slides 18s linear infinite 0s;
}

.body_slides li:nth-child(1) {
    background-image: url(picture/hrm1.jpg)
}

.body_slides li:nth-child(2) {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
    background-image: url(picture/hrm2.jpg)
}

.body_slides li:nth-child(3) {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
    background-image: url(picture/hrm3.jpg)
}

@-webkit-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes anim_slides {
    0% {
        opacity: 0;
    }
    6% {
        opacity: 1;
    }
    24% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}

input,
textarea,
button {
    font-family: "Montserrat", sans-serif;
    outline: none;
    font-weight: 400;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    font-weight: 400;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
}

a:hover,
button:hover {
    cursor: pointer;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_sub {
    width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    background-color: #2C3337;
}

.header .header_logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10px;
}

.header .header_logo-text {
    padding-left: 20px;
    font-size: 18px;
    line-height: 26px;
    color: white;
}


.header .header_right {
    display: flex;
    align-items: center;
}

.header .header_right_icon {
    display: flex;
    flex-flow: column wrap;
    margin: 0 10px;
}

.header .header_right_icon-link {
    font-size: 18px;
    line-height: 26px;
    color: white;
}

.header .header_right_icon-link:hover {
    color: #00BFFF;
}

.main_content {
    display: flex;
    justify-content: flex-start;
    flex-flow: row;
    height: 95vh;
}

.accord {
    width: 500px;
    padding: 20px 0;
    background: rgba(0, 0, 0, 0.5);
}

.accord-item {
    margin-bottom: 5px;


}

.accord-title {
    display: block;
    padding: 10px 15px;
    position: relative;
    font-size: 18px;
    color: #fff;
    cursor: pointer;

    transition: background .2s ease-out;
}


.accord-title > a {
    display: block;
    width: 100%;
    color: #ffffff;
    font-size: 18px;
}

.accord-title:hover {
    background-color: #00BFFF;
}

.accord-input {
    width: 0;
    height: 0;

    -webkit-appearance: none;
    appearance: none;

    position: absolute;
}

.accord-input:checked ~ .accord-title {
    background-color: #00BFFF;
}

.accord-input:checked ~ .accord-title:after {
    border-style: solid;
    border-width: 0 5px 8px 5px;
    border-color: transparent transparent #fff transparent;
}

.accord-input:checked ~ .accord-text {
    display: block;
}

.accord-text {
    display: none;
    padding: 10px 15px;

    color: #fff;
    font-size: 14px;
}

.ul-accord-text-li {

    margin: 20px auto;

}

.ul-accord-text-li-link:hover {
    color: #00BFFF;
}

.ul-accord-text-li-link {
    color: #fff;
    font-size: 14px;
}

.content {
    background: rgba(240, 255, 255, 0.95);
}


.advantages {
    margin: 100px 0;
}

.advantages .advantages_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    grid-gap: 30px;
}

.advantages .advantages_card {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    box-shadow: 10px 10px rgba(0, 0, 0, .15);
    transition: all .4s ease;
    border: 2px solid #00BFFF;
    width: 100%;
    border-radius: 95% 4% 92% 5%/4% 95% 6% 95%;
    transform: rotate(1deg);
    background: white;

}

.advantages .advantages_card_top {
    display: block;
    text-align: center;
    padding: 20px 0;
    font-size: 18px;
    line-height: 26px;
    color: black;
    border-bottom: 2px solid #00BFFF;
    width: 100%;

}

.advantages .advantages_card_bottom {
    display: block;
    padding: 10px 0;
    text-align: center;
    font-size: 18px;
    line-height: 26px;
    color: black;

}

.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    border: 10px solid black;
    border-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='100' height='100' viewBox='0 0 100 100' fill='none' xmlns='http://www.w3.org/2000/svg'%3E %3Cstyle%3Epath%7Banimation:stroke 5s infinite linear%3B%7D%40keyframes stroke%7Bto%7Bstroke-dashoffset:776%3B%7D%7D%3C/style%3E%3ClinearGradient id='g' x1='0%25' y1='0%25' x2='0%25' y2='100%25'%3E%3Cstop offset='0%25' stop-color='%232d3561' /%3E%3Cstop offset='25%25' stop-color='%23c05c7e' /%3E%3Cstop offset='50%25' stop-color='%23f3826f' /%3E%3Cstop offset='100%25' stop-color='%23ffb961' /%3E%3C/linearGradient%3E %3Cpath d='M1.5 1.5 l97 0l0 97l-97 0 l0 -97' stroke-linecap='square' stroke='url(%23g)' stroke-width='3' stroke-dasharray='388'/%3E %3C/svg%3E") 1;
    background: white;

}

.department_form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 80px;
    padding-bottom: 40px;
    transition: all .4s ease;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
    border: honeydew;
    background: white;
}


.department_form-h2 {
    text-align: center;
    font-size: 34px;
    line-height: 28px;
    padding: 20px 0;

}

.department_form_group {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    border-top: 2px solid black;
    width: 100%;
    height: 400px;
}

.department_form_group__container {
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.department_form_line {
    display: flex;
    flex-flow: row;
    align-items: center;
    margin: 20px 0;
}

.department_form_line-label {
    font-size: 24px;
    line-height: 18px;
    color: black;
    margin-right: 20px;
}

.department_form_line-input {
    height: 50px;
    width: 250px;
    background: #e4e4e4;
    border: 2px solid #00BFFF;
    border-radius: 10px;
    padding-left: 15px;
    color: black;
    font-size: 18px;
}

.department_form_line-btn {
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #00BFFF;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
    font-size: 28px;
}

.department_form-btn {
    padding: 13px 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-size: 28px;
    margin-left: auto;
    margin-right: 50px;
    background: #00BFFF;
    border: none;
}

.table_part-tb {
    width: 100%;
    height: 500px;
    border-collapse: collapse;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.table_part-tb thead tr {
    color: #ffffff;
    font-weight: bold;
    background: #00BFFF;
}

.table_part-tb thead tr td {
    border: 1px solid #00BFFF;
}

.table_part-tb tbody tr td {
    border: 1px solid #e8e9eb;
}

.table_part-tb tbody tr:nth-child(2n) {
    background: #f4f4f4;
}

.table_part-tb tbody tr:hover {
    background: #ebffe8;
}

.footer_part-pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.department_table {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
    margin-top: 80px;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
    border: honeydew;
    background: white;
    padding-bottom: 40px;
}

.table_part {
    width: 100%;
}

.footer_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-flow: row;
    padding: 10px 20px 0;
}

.middle_part {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-flow: row;
    padding: 10px 10px 10px;
    border-top: 1px solid black;

}


.header_part {
    display: flex;
    align-items: center;
    justify-content: center;
}


.header_part_ground {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 300px;
}

.header_part-btn {
    margin-left: 300px;
    border: none;
    border-radius: 10px;
    background: #00BFFF;
}

.table_part-tb thead tr th {
    text-align: center;
    font-size: 14px;
    color: #000000;
    padding: 10px 0;
}


.table_part-td-action {
    width: 20%;
}

.table_part-tb tbody tr td {
    text-align: center;
    font-size: 14px;
    color: #000000;
    padding: 10px 0;
}

.employee_add-main {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.employee_add-main-column {
    display: block;
    padding: 25px 20px;
    margin: 10px;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
    border: honeydew;
    background: white;
}

.employee-footer {
    text-align: right;
}

.employee-footer-btn {
    padding: 10px 20px;
    text-align: center;
    margin: 10px 2px;
    background: #00BFFF;
    border: none;
    border-radius: 10px;
    font-size: 28px;


}

.employee_add-main-column-top {
    display: block;
    text-align: left;
    padding: 20px 20px;
    font-size: 18px;
    line-height: 10px;
    color: black;
    border-bottom: 1px solid black;
    width: 50%;
}

.employee_add-main-column-footer {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
}

.employee_add-main-column-footer-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
}

.employee-input-field {
    margin-left: 50px;
    padding: .5em;
    margin-bottom: .5em;
    width: 200px;
    border: 2px solid #00BFFF;
    border-radius: 5px;

}


/*Login*/
/*Обнуление*/

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_login {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.tabs_login {
    width: 500px;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
    border: honeydew;
    background: white;
}

.tabs_items {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.tabs_item {
    flex: 0 1 33.333%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    transition: all 0.2s;
    text-decoration: none;
}
/*
.tabs_item span {
    position: relative;
    z-index: 2;
}*/
.tabs_item.active{
    background-color: #00BFFF;
    color: #ffffff;
}
.tabs_item:hover{
    background-color: #00BFFF;
    color: #ffffff;
}


.tabs_block {
    position: relative;
    padding: 20px;
    font-size: 18px;
    line-height: 24px;
}

/*.tabs_block:before {
    content: "";
    height: 50px;
    width: 33.333%;
    position: absolute;
    top: -50px;
}*/


/*.tabs_block:nth-child(1):before {
    background-color: #00BFFF;
    left: 0;
}

.tabs_block:nth-child(2):before {
    background-color: #00BFFF;
    left: 33.33%;
}*/


/*.tabs_block:target {
    display: block;
}*/


/*@media (max-width: 600px) {*/
/*    .tabs_item span {*/
/*        display: block;*/
/*        width: 100px;*/
/*        padding: 0px 5px;*/
/*        white-space: nowrap;*/
/*        text-align: center;*/
/*        overflow: hidden;*/
/*        font-size: 14px;*/
/*        text-overflow: ellipsis;*/
/*    }*/
/*}*/
.content_tab_01 {
    display: block;
    padding: 25px 20px;
    margin: 10px;
}

.content_tab_01-column-top {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    border-bottom: 1px solid black;
}

.tab_01-input-field {

    width: 400px;
    height: 35px;
    padding-left: 15px;
    border-radius: 20px;
    margin-bottom: 20px;
    border: 2px solid #00BFFF;
}

.tab_01-label {
    display: block;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
}

.content_tab_01-column-top-column-footer {
    text-align: right;
}


#button-top .knobs:before, #button-top .knobs:after, #button-top .knobs span {
    position: absolute;
    top: 4px;
    width: 28px;
    height: 28px;
    font-size: 10px;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 9px 4px;
    border-radius: 2px;
    transition: 0.3s ease all;
}

#button-top .knobs:before {
    content: '';
    left: 4px;
    background-color: #03A9F4;
}

#button-top .knobs:after {
    content: 'NO';
    right: 4px;
    color: #4e4e4e;
}

#button-top .knobs span {
    display: inline-block;
    left: 4px;
    color: #fff;
    z-index: 1;
}

#button-top .checkbox:checked + .knobs span {
    color: #4e4e4e;
}

#button-top .checkbox:checked + .knobs:before {
    left: 42px;
    background-color: #00BFFF;
}

#button-top .checkbox:checked + .knobs:after {
    color: #fff;
}

#button-top .checkbox:checked ~ .layer {
    background-color: #fcebeb;
}


.content_tab_01-column-top-btn {
    position: absolute;
    top: 250px;
    width: 74px;
    height: 36px;
    box-sizing: border-box;
    overflow: hidden;
}

.content_tab_01-column-top-btn-cover, .knobs, .layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.content_tab_01-column-top-btn .checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

.content_tab_01-column-top-text {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 150px 50px 30px;
}

.content_tab_01-column-top-text > span {
    font-size: 12px;
}

.content_tab_01-column-top-sign-btn {
    position: relative;
    height: 50px;
    margin-bottom: 40px;
    overflow: hidden;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    transition: 0.5s;
    letter-spacing: 1px;
}

.content_tab_01-column-top-sign-btn > button {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #00BFFF;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #2F4F4F;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}

.content_tab_01-column-top-sign-btn > button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}

.mas {
    position: absolute;
    color: #000;
    text-align: center;
    width: 101%;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 12px;
    overflow: hidden;
}

@-webkit-keyframes ani {
    from {
        -webkit-mask-position: 0 0;
        mask-position: 0 0;
    }
    to {
        -webkit-mask-position: 100% 0;
        mask-position: 100% 0;
    }
}

.content_tab_01-column-top-column-footer > a {
    color: #2C3337;
    font-size: 12px;
}


a, a > span {
    position: relative;
    color: inherit;
    text-decoration: none;
    line-height: 24px;
}

a:before, a:after, a > span:before, a > span:after {
    content: '';
    position: absolute;
    transition: transform .5s ease;
}

.forgot_password:before {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #00BFFF;
    transform: scaleX(0);
}

.forgot_password:hover:before {
    transform: scaleX(1);
}


.content_tab_02 {
    display: block;
    padding: 25px 20px;
    margin: 10px;
}

.content_tab_02-column {
    display: inline-block;
    text-align: center;
    justify-content: center;
}

.tab_02-input-field {

    width: 400px;
    height: 35px;
    padding-left: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
    border: 2px solid #00BFFF;
}

.tab_02-label {
    display: block;
    font-size: 12px;
    text-align: left;
    padding-left: 20px;
}

.reset_password_content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
}

.reset_password_content_sub {
    display: inline-block;
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    width: 500px;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
    border: honeydew;
    background: white;
    height: 500px;

}

.reset_password_content-spans {
    display: grid;
    padding-top: 50px;
}

.reset_password_content-span {
    font-size: large;
}

.reset_password_content-span_second {
    font-size: 10px;
    padding-top: 10px;
    color: #4e4e4e;
    padding-bottom: 20px;
}

.reset_password_content-inputWithIcon input {
    width: 70%;
    border: 2px solid #00BFFF;
    border-radius: 5px;
    margin: 8px 0;
    outline: none;
    padding: 8px;
    transition: 0.3s;
}


.reset_password_content-inputWithIcon input {
    padding-left: 40px;
}

.reset_password_content-inputWithIcon {
    position: relative;
}

.reset_password_content-inputWithIcon i {
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 8px 0 85px;
    color: #00BFFF;
    transition: 0.3s;
}


.reset_password_content-btn {
    margin: 25px auto;
    position: relative;
    font-size: 15px;
    color: #fff;
    padding: 20px;
    width: 200px;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    background: #00BFFF;
    border: none;
    text-transform: uppercase;
}

.reset_password_content-btn:after {
    content: "";
    background: #fff;
    position: absolute;
    width: 200px;
    height: 200px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    margin: auto;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.75s ease-in-out;
}

.reset_password_content-btn:active:after {
    transform: scale(0);
    opacity: 1;
    transition: 0s;
}

.reset_password_content-span-change {
    font-size: 25px;
    padding-bottom: 30px;
}

.reset_password_content-input {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 50px;
}

.reset_password_content-input-field {
    margin-left: 50px;
    padding: .5em;
    margin-bottom: .5em;
    width: 220px;
    border: 2px solid #00BFFF;
    border-radius: 5px;
}

.reset_password_content-input > label {
    font-size: 14px;
}

.container_user {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_user_sub {
    width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.container_user_sub-clock {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container_user_sub-clock-svg {
    width: 500px;
    height: 500px;
}

.container_user_sub-clock > canvas {
    width: 500px;
    padding-left: 150px;
}

.container_user_sub-cards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    grid-gap: 30px;
}

.container_user_sub-card {
    width: 350px;
    height: 350px;
    box-shadow: 0 10px 17px rgba(0, 0, 0, 0.2);
    border: honeydew;
    background: white;

}

.container_user_sub-card-header {
    padding: 5px 5px 50px 5px;
}

.container_user_sub-card-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

.container_user_sub-card-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    margin-bottom: 20px;
}

.container_user_sub-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.container_user_sub-btn > button {
    width: 300px;
    height: 100px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 1px;
    background: #00BFFF;
    -webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
    -webkit-mask-size: 2300% 100%;
    mask-size: 2300% 100%;
    border: none;
    color: #2F4F4F;
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(22) forwards;
    animation: ani2 0.7s steps(22) forwards;
}

.container_user_sub-btn > button:hover {
    -webkit-animation: ani 0.7s steps(22) forwards;
    animation: ani 0.7s steps(22) forwards;
}


.container_user_sub-card-content h4 {
    color: #999;
    font-weight: 500;
}

.container_user_sub-card-content h4:after {
    content: "%";
    padding-left: 1px;
}

.container_user_sub-card-content input[type="range"] {
    border-radius: 500px;
    width: 400px;
    max-width: 80%;
    transition: box-shadow 0.2s ease-in-out;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
    .container_user_sub-card-content input[type="range"] {
        overflow: hidden;
        height: 40px;
        -webkit-appearance: none;
    }

    .container_user_sub-card-content input[type="range"]::-webkit-slider-runnable-track {
        height: 40px;
        -webkit-appearance: none;
        color: #444;
        margin-top: -1px;
        transition: box-shadow 0.2s ease-in-out;
    }

    .container_user_sub-card-content input[type="range"]::-webkit-slider-thumb {
        width: 40px;
        -webkit-appearance: none;
        height: 40px;
        cursor: ew-resize;
        background: #fff;
        box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
        border-radius: 50%;
        transition: box-shadow 0.2s ease-in-out;
        position: relative;
    }

    .container_user_sub-card-content input[type="range"]:active::-webkit-slider-thumb {
        background: #fff;
        box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
    }
}

.container_user_sub-card-content-btn {
    background: #00BFFF;
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 50px;
    margin-top: 20px;
}

.container_user_sub-card-content-feel {
    padding-top: 40px;
    padding-bottom: 30px;
}